# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.ipython/
.matplotlib-cache/

# Environments
.env
*.env
.venv/
venv/
my_env/

# Local/private configs
configs/local_*.yaml
configs/local_*.yml

# Large geospatial data
data/raw/
data/processed/
*.tif
*.tiff
*.ers
*.grd
*.img
*.vrt
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gpkg

# Large geospatial input data
data/Carajas_Brazil_Univariate_TMI/*
!data/Carajas_Brazil_Univariate_TMI/.gitkeep

data/Carajas_Brazil_Multivariate_TMI_U/*
!data/Carajas_Brazil_Multivariate_TMI_U/.gitkeep

# Outputs
outputs/*
!outputs/.gitkeep
/Output_*/
*_outputs/
*.pkl

# OS/editor
.DS_Store
